* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    font-size: 17px;
}

.footer p {
    position: absolute;
    font-size: 10px;
    bottom: 1%;
    width: 100%;
    text-align: center;
}

/* .footer hr{
    width: 60%;
    bottom: 5%;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
} */

